@import "../../../styles/variables.module";
@import "../../../styles/mixin.module";
.subjectComp{
    @include d-flex(center,flex-start,row,3.2rem);
    width: 100%;
    padding: 2rem;
    background-color: var(--bg-color-secondary);
    box-shadow: 0px 16px 40px 0px #8FA0C124;
    border-radius: 2.4rem;

    &_icon{
        width: 5.6rem;
        height: 5.6rem;
        object-fit: cover;
    }
    &_text{
        @include font-style(var(--text-color-primary),2.8rem,500);
    }
}