@import "./../../styles/variables.module";
@import "./../../styles/mixin.module";

.resultComp {
  @include d-grid(1.4fr 1fr, _);
  width: 100%;
  &_text {
    @include d-flex(flex-start, flex-start, column, 0);
    &_complete {
      @include font-style(var(--text-color-primary), 6.4rem, 300);
    }
    &_score {
      @include font-style(var(--text-color-primary), 6.4rem, 900);
      line-height: 1;
    }
  }
  &_info {
    @include d-flex(center, flex-start, column, 3.2rem);
    width: 100%;
    height: 40rem;
    &_top {
      @include d-flex(center, flex-start, column, _);
      width: 100%;
      background-color: var(--bg-color-secondary);
      padding: 4.8rem;
      border-radius: 2.4rem;
      box-shadow: 0px 16px 40px 0px #8fa0c124;
      &_subject {
        @include d-flex(center, center, row, 2.4rem);
        &_icon {
          width: 5.6rem;
          height: 5.6rem;
          object-fit: cover;
        }
        &_name {
          @include font-style(var(--text-color-primary), 2.8rem, 500);
        }
      }
      &_scoreCount {
        @include font-style(var(--text-color-primary), 14rem, 500);
        width: 100%;
        text-align: center;
        margin-top: 4rem;
        line-height: 1;
      }
      &_totalyCount {
        @include font-style(var(--text-color-secondary),2.4rem,400);
        width: 100%;
        text-align: center;
        line-height: 1.5;
      }
    }
    &_againBtn {
      @include font-style(white,2.8rem,500);
      width: 100%;
      box-shadow: 0px 16px 40px 0px #8fa0c124;
      background-color: var(--submit-color);
      padding: 3.2rem;
      border-radius: 2.4rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .resultComp {
    grid-template-columns: 1fr;
    &_text {
      width: 100%;
    }
    &_info {
      margin-top: 4rem;
      width: 100%;
      &_top {
        width: 100%;
      }
    }
  }
}
