@import "../../styles/variables.module";
.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .wrapper {
    display: flex;
    align-items: flex-start;

    &_subject {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2.4rem;
      &_icon {
        width: 5.6rem;
        height: 5.6rem;
        object-fit: cover;
      }
      &_name {
        color: var(--text-color-primary);
        font-size: 2.8rem;
      }
    }
  }

  .modeComp {
    height: 2.8rem;
    gap: 1rem;
    margin-bottom: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &_icon {
      font-size: 2.4rem;
      display: inline-block;
      color: var(--mode-icon-color);
    }
    &_btnWrapper {
      width: 4rem;
      height: 2.4rem;
      background-color: var(--submit-color);
      border-radius: 1rem;
      position: relative;
      .modeComp_btnWrapper_item {
        background-color: white;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-30%, -50%);
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
      }
      .modeComp_btnWrapper_itemActive {
        background-color: white;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-20%, -50%);
        width: 1.7rem;
        height: 1.7rem;
        border-radius: 50%;
      }
    }
  }
}
