:root {
  --text-color-primary: #313e51;
  --text-color-secondary: #626c7f;
  --bg-color-secondary:#fff;
  --bg-color: #f4f6fa;
  --variant-bg-color: #f4f6fa;
  --variant-text-color: #626c7f;
  --submit-color: #a729f5;
  --variant-hover-color: #a729f5;


}
