@import "../../styles/variables.module";
.homeComp{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &_intro{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        &_welcome{
            color: var(--text-color-primary);
            font-size: 6.4rem;
            font-weight: 300;
        }
        &_name{
            color: var(--text-color-primary);
            font-size: 6.4rem;
            font-weight: 900;
            line-height: .7;
        }
        &_started{
            margin-top: 4.8rem;
            color: var(--text-color-secondary);
            font-style: italic;
            line-height: 1;
            font-weight: 400;
            font-size: 2rem;
        }
    }
    &_subjects{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.4rem;
        &_link{
            width: 100%;
        }
    }
}

@media screen and (max-width:768px){
    .homeComp{
        grid-template-columns: 1fr;
        &_intro{
            
            &_started{
                margin-top: 3.2rem;
            }
        }
        &_subjects{
            margin-top: 6.4rem;
        }
    }
}