@import "../../styles/variables.module";
@import "../../styles/mixin.module";
.homeComp {
  @include d-grid(1fr 1fr, _);
  width: 100%;
  &_intro {
    width: 100%;
    @include d-flex(flex-start, flex-start, column, 0);
    &_welcome {
      @include font-style(var(--text-color-primary), 6.4rem, 300);
    }
    &_name {
      @include font-style(var(--text-color-primary), 6.4rem, 900);
      line-height: 0.7;
    }
    &_started {
      @include font-style(var(--text-color-secondary), 2rem, 400);
      margin-top: 4.8rem;
      font-style: italic;
    }
  }
  &_subjects {
    @include d-flex(flex-start, flex-start, column, 2.4rem);
    width: 100%;
    &_link {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .homeComp {
    grid-template-columns: 1fr;
    &_intro {
      &_started {
        margin-top: 3.2rem;
      }
    }
    &_subjects {
      margin-top: 6.4rem;
    }
  }
}
