@import "../../../styles/variables.module";
.variantComp {
  width: 100%;
  display: flex;
  background-color: var(--bg-color-secondary);
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  box-shadow: 0px 16px 40px 0px #8fa0c124;
  border: 2px solid transparent;
  border-radius: 24px;
  transition: all 0.4s;
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    &_variant {
      padding: 10px 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      font-size: 28px;
      font-weight: 500;
      background-color: var(--variant-bg-color);
      color: var(--variant-text-color);
      transition: all 0.4s;
    }
    &_answer {
      color: var(--text-color-primary);
      font-size: 20px;
      font-weight: 500;
      width: 85%;
      text-align: start;

    }
  }
  &_iconCheck {
    font-size: 40px;
    color: #26d782;
  }
  &_iconClose {
    font-size: 40px;
    color: #ee5454;
  }
}
.variantComp:hover {
  border: 2px solid var(--variant-hover-color);

  .variantComp_wrapper_variant {
    background-color: var(--variant-hover-color);
    color: white;
  }
}
.variantComp_wrapper_variant_active {
 padding: 14px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 28px;
  font-weight: 500;
  background-color: #f6e7ff;
  color: var(--variant-hover-color);
}
.variantComp_true{
    border: 2px solid #26d782;
    .variantComp_wrapper{
        .variantComp_wrapper_variant{
            background-color: #26d782;
            color: white;
        }
    }
}
.variantComp_false{
    border: 2px solid #ee5454;
    .variantComp_wrapper{
        .variantComp_wrapper_variant{
            background-color: #ee5454;
            color: white;
        }
    }
}